<% layout('/layouts/boilerplate') -%>

<style>
  body{
    margin-left: 10PX;
    margin-right: 10px;
  }
  .filters{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center ;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .taxinfo{
    display: none;
  }
  .filter p{
    font-size: 1rem;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  @media (max-width : 500px) {
    .card-img-top{
      max-width: 380px;
      max-height: 250px;
    }
   
    
  }
</style>
<body>
   <div class="filters ">
    <div class="filter ">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Room</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic City</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountain</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-chess-rook"></i></div>
      <p>Castle</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pool</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-landmark-dome"></i></div>
      <p>Domes</p>
    </div>
   
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display Tax Percentage</label>
      </div>
    </div>

   </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(da of data){  %>
            <a href="/listing/<%= da._id %>" class="listing-link">  <div class="card col" style=" border: none; margin-bottom: 2rem ; ">
                <img src="<%= da.image.url %>" class="card-img-top" alt="listing images" style="height :20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b> <%= da.title %></b>
                    <br/>
                    &#8377;<%=da.price.toLocaleString('en-IN') %>
                    <i class="taxinfo">&nbsp;&nbsp;+18%GST</i>
                </p>
                </div>
              </div></a>
           
              <% } %>
    </div>
    
     
</body>
<script>
  let price = document.getElementById("flexSwitchCheckDefault")
  price.addEventListener("click",()=>{
    let gst = document.getElementsByClassName("taxinfo")
    for(gt of gst) {
      if (gt.style.display != "inline"){
        gt.style.display = "inline";
     }
     else{
        gt.style.display = "none";
      }
    }
  });
</script>